<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.kv.dao.IUserDao">

	<resultMap type="User" id="userMap">
		<id property="id" column="id" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="nickname" column="nickname" />
		<result property="email" column="email" />
	</resultMap>
	
	<select id="find" parameterType="User" resultType="java.util.List" resultMap="userMap">
		select * from t_user where 
		username = #{username} and 
		password = #{password}
	</select>
	
	<select id="listUser" resultType="java.util.List" resultMap="userMap">
    	select * from t_user
    </select>

</mapper>